name: docker_validation_ascend

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/docker-validate-ascend.yml"
  schedule:
    - cron: "0 19 * * 0"


jobs:
  docker-validation-ascend-a2:
    if: ${{ github.event_name != 'pull_request' && github.repository_owner == 'volcengine' }}
    runs-on: [self-hosted, npu-0]
    timeout-minutes: 60
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-ascend-image-validation-a2
      cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
    container:
      image: quay.io/ascend/verl:verl-8.2.rc1-910b-ubuntu22.04-py3.11-latest
      volumes:
        - /usr/local/dcmi:/usr/local/dcmi
        - /usr/local/bin/npu-smi:/usr/local/bin/npu-smi
        - /usr/local/Ascend/driver/lib64/:/usr/local/Ascend/driver/lib64/
        - /usr/local/Ascend/driver/version.info:/usr/local/Ascend/driver/version.info
        - /etc/ascend_install.info:/etc/ascend_install.info
        - /data00/dataset:/github/home/dataset
        - /data00/models:/github/home/models
      options: >-
        --device /dev/davinci0
        --device /dev/davinci_manager
        --device /dev/devmm_svm
        --device /dev/hisi_hdc
        --network host
        --privileged
        --shm-size 16g
    env:
      HTTP_PROXY: ${{ secrets.PROXY_HTTP }}
      HTTPS_PROXY: ${{ secrets.PROXY_HTTPS }}
      NO_PROXY: "localhost,127.0.0.1,hf-mirror.com"
      HF_ENDPOINT: "https://hf-mirror.com"
      HF_HUB_ENABLE_HF_TRANSFER: "0"
    steps:
      - name: Check NPU and CANN info
        run: |
          cat /usr/local/Ascend/ascend-toolkit/latest/"$(uname -i)"-linux/ascend_toolkit_install.info
          npu-smi info
      - name: Create working directory and setup
        run: |
          cd /verl  
          echo "Working directory set to: $(pwd)"
      - name: Check code directory
        run: |
          ls -la /verl  
          echo "List current working directory: $(pwd)"
      - name: Preprocess gsm8k dataset
        working-directory: /verl
        run: |
          python examples/data_preprocess/gsm8k.py --local_dataset_path ${HOME}/dataset/openai/gsm8k
      - name: Preprocess geo3k dataset
        working-directory: /verl
        run: |
          python examples/data_preprocess/geo3k.py --local_dataset_path ${HOME}/dataset/hiyouga/geometry3k
      - name: Running gsm8k e2e qwen3 training tests with PPO on ASCEND NPU
        working-directory: /verl
        run: |
          ray stop --force
          bash tests/special_npu/run_qwen3_06b_ppo.sh
          rm -rf $HOME/ckpts
      - name: Running gsm8k e2e training tests with peft sft on ASCEND NPU
        working-directory: /verl
        run: |
          ray stop --force
          bash tests/special_npu/run_qwen2_5_05b_sft_peft_sp2.sh
          rm -rf $HOME/ckpts
      - name: Running gsm8k e2e training tests with GRPO on ASCEND NPU
        working-directory: /verl
        run: |
          ray stop --force
          bash tests/special_npu/run_qwen2_5_05b_grpo.sh
          rm -rf $HOME/ckpts
      - name: Running geo3k e2e training tests with GRPO on ASCEND NPU
        working-directory: /verl
        run: |
          ray stop --force
          bash tests/special_npu/run_qwen2_5_vl_3b_npu.sh
          rm -rf $HOME/ckpts
      - name: Running gsm8k e2e training tests with DAPO on ASCEND NPU
        working-directory: /verl
        run: |
          ray stop --force
          bash tests/special_npu/run_qwen2_5_05b_dapo.sh
          rm -rf $HOME/ckpts
      - name: Running gsm8k e2e training tests with GRPO MindSpeed on ASCEND NPU
        working-directory: /verl
        run: |
          ray stop --force
          export PYTHONPATH=$PYTHONPATH:/Megatron-LM
          USE_DIST_CKPT=True bash tests/special_npu/run_qwen2_5_05b_grpo_mindspeed.sh
          rm -rf $HOME/dist_ckpt/qwen2_5_05b_grpo_mindspeed
          rm -rf $HOME/ckpts
      - name: Running NPU profiling unit tests
        working-directory: /verl
        run: |
          ray stop --force
          pytest -s -x tests/utils/test_special_mstx_profile.py
